.recipe__favorite {
  position: relative;
  background-color: white;
  border-radius: 8px;
  padding: 1em;
  display: grid;
  min-width: 190px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "img img"
    "title title"
    "category category"
    "details details";
  max-width: 950px;
  margin: 1.5em auto;
  gap: 0 1.5em;
}

.recipe__img--favorite {
  grid-area: img;
  margin: 0;
  max-width: 90px;
}

.recipe__name--favorite {
  grid-area: title;
  align-self: end;
  margin-top: 0.5em;
  font-size: 1.25rem;
}

.recipe__category--favorite {
  grid-area: category;
}

.recipe__favorite-icon {
  grid-area: icon;
  margin-right: 5px;
}

.recipe__details--favorite {
  grid-area: details;
  margin-top: 1em;
}

.favorite__empty {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  height: 100%;
  max-width: 1300px;
  margin: auto;
}

.favorite__empty--title {
  color: #495057;
  text-align: center;
  font-size: 1.15rem;
  line-height: 1.6;
}

.btn__search-recipes {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: black;
}

/* media queries */
@media (min-width: 300px) {
  .recipe__img--favorite {
    justify-self: center;
  }
}

@media (min-width: 500px) {
  .recipe__favorite {
    grid-template-columns: fit-content(100px) 1fr minmax(30px, 40px);
    grid-template-areas:
      "img title icon"
      "img category icon"
      "details details details";
  }

  .favorite__empty--title {
    font-size: 1.35rem;
  }
  .btn__search-recipes {
    font-size: 1.2rem;
  }
}

@media (min-width: 700px) {
  .recipe__name--favorite {
    font-size: 1.5rem;
  }

  .recipe__favorite {
    padding: 1.5em 3em 0.65em;
  }

  .favorite__empty--title {
    font-size: 1.45rem;
  }
  .btn__search-recipes {
    font-size: 1.3rem;
  }
}

@media (min-width: 1100px) {
  .recipe__name--favorite {
    font-size: 1.7rem;
  }
}
