* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "JetBrains Mono", monospace;
  background-color: #efeeea;
  padding: 0 2.25em;
  display: grid;
  grid-template-rows: minmax(75px, 100px) auto;
  height: 100vh;
  /* border: 2px solid blue; */
}

/* TYPOGRAPHY */

.main__title {
  font-size: 1.7rem;
}

.main__description {
  font-size: 1.15rem;
  line-height: 1.4;
}

/* Layout - introduction page */

/* images */

.nav__logo {
  width: 40px;
}

.main__introduction-img {
  width: 50%;
  min-width: 150px;
  max-width: 200px;
  margin: 0 auto;
  align-self: center;
}

/* elements */

.nav {
  align-self: center;
}

.main__introductionPage {
  display: grid;
  grid-template-rows: auto max-content max-content auto;
  grid-template-areas:
    "img"
    "title"
    "description"
    "recipe"
    "btn";
  gap: 1em 0;
  height: 90%;
  /* border: 2px solid magenta; */
}
.main__introduction-img {
  grid-area: img;
}

.main__title {
  grid-area: title;
}

.main__description {
  grid-area: description;
}

.button {
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-family: inherit;

  grid-area: btn;
  background-color: #005685;
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 1.5px;
  align-self: end;
  transition: background-color 0.3s;

  &:hover,
  &:focus {
    background-color: #0085cc;
  }
}

/* main page */

.mainPage--img {
  width: 100%;
  max-width: 300px;
  align-self: center;
  justify-self: center;
  grid-area: img;
  /* display: none; */
}

/* .mainPage__description {
  display: none;
} */

.button--generate {
  font-size: 1.1rem;
  padding: 0.65em 1.65em;
}

/* recipe section */
ul,
ol {
  list-style-position: inside;
}

.recipe {
  /* width: 100%; */
  background-color: white;
  margin-top: 1em;
  border-radius: 8px;
  padding: 0 1em;
  max-width: 750px;
  grid-row: 2 / -2;
  grid-area: recipe;
  justify-self: center;
}

.recipe__img {
  max-width: 110px;
  display: block;
  margin: 1em auto;
  border-radius: 5px;
}

.recipe__name {
  font-size: 1.5rem;
  margin: 0.35em 0;
}

.recipe__category {
  font-size: 0.8rem;
  color: #207e2e;
}

.recipe__section-title,
.recipe__ingredients-list {
  margin-bottom: 0.65em;
}

.recipe__section-title {
  font-size: 1.15rem;
}

.recipe__ingredients-item,
.recipe__instruction-item {
  font-size: 0.85rem;
}

.recipe__ingredients-item {
  margin-bottom: 0.45em;
}

.recipe__instruction-item {
  line-height: 1.5;
  margin-bottom: 0.85em;
}

.error-message {
  color: red;
  grid-column: 1/ -1;
  text-align: center;
  font-weight: bold;
}

.hidden {
  display: none;
}

/* .main__introductionPage:has(section.show) {
  .button--generate {
    grid-column: 1 / -1;
    justify-self: center;
  }
} */

/* media queries */

@media (min-width: 470px) {
  .main__introductionPage {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      ". ."
      "title img"
      "description img"
      "recipe recipe"
      "btn .";
  }

  .main__title {
    font-size: 1.95rem;
  }

  .mainPage__description {
    grid-row: 2 / 4;
    align-self: center;
    font-size: 1.25rem;
  }

  .button--getStarted,
  .button--generate {
    justify-self: start;
  }

  .recipe {
    grid-column: 1 / -1;
    margin-bottom: 0.75em;
  }
}

@media (min-width: 700px) {
  .nav,
  .main__introductionPage {
    max-width: 1300px;
  }

  .nav {
    width: 100%;

    justify-self: center;
  }

  .main__introductionPage {
    margin: 0 auto;
    /* align-content: center;   */ /* That line cause an overlap of recipe container to nav  */
    gap: 0;
  }

  .main__title {
    align-self: end;
    font-size: 2.25rem;
    margin-bottom: 0.5em;
  }

  .main__description {
    font-size: 1.3rem;
  }

  .main__introduction-img {
    content: image-set("/src/img/food-photo-bigScreen.png") / "A bowl of salad";
    max-width: 450px;
    width: 100%;
  }

  .mainPage__description {
    font-size: 1.6rem;
  }

  .mainPage--img {
    max-width: 400px;
  }

  .recipe {
    padding: 0 3em;
  }

  .recipe__img {
    max-width: 130px;
  }
}

@media (min-width: 1100px) {
  .main__title {
    font-size: 2.8vw;
  }

  .main__description {
    font-size: 1.7vw;
  }

  .button--getStarted {
    font-size: 1.05rem;
  }

  .button--generate {
    font-size: 1.25rem;
  }

  /* .recipe__category {
    font-size: 1rem;
  }

  .recipe__name {
    font-size: 2.15em;
  }

  .recipe__section-title {
    font-size: 1.5rem;
  }

  .recipe__ingredients-item,
  .recipe__instruction-item {
    font-size: 1rem;
  } */
}
