* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "JetBrains Mono", monospace;
  background-color: #efeeea;
  padding: 0 2.25em;
  display: grid;
  grid-template-rows: minmax(75px, 100px) auto;
  height: 100vh;
  /* border: 2px solid blue; */
}

/* TYPOGRAPHY */

.main__title {
  font-size: 1.7rem;
}

.main__description {
  font-size: 1.15rem;
  line-height: 1.4;
}

/* Layout - introduction page */

/* images */

.nav__logo {
  width: 40px;
}

.main__introduction-img {
  width: 50%;
  min-width: 150px;
  max-width: 200px;
  margin: 0 auto;
  align-self: center;
}

/* elements */

.nav {
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.nav-favorite,
.nav-home {
  cursor: pointer;
  text-decoration: none;
  color: #005685;
  letter-spacing: 1px;
  transition: color 0.3s;

  &:hover,
  &:focus {
    color: #0085cc;
  }

  &:focus-visible {
    outline: none;
  }
}

.nav-home {
  margin-right: 0.9em;
}

.main__introductionPage {
  display: grid;
  grid-template-rows:
    auto
    repeat(2, fit-content(200px))
    fit-content(150px)
    auto
    fit-content(100px);
  grid-template-areas:
    "img"
    "title"
    "description"
    "category"
    "recipe"
    "btn";
  gap: 1em 0;
  position: relative;
}
.main__introduction-img {
  grid-area: img;
}

.main__title {
  grid-area: title;
}

.main__description {
  grid-area: description;
}

.button {
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-family: inherit;

  grid-area: btn;
  background-color: #005685;
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 1.5px;
  align-self: end;
  transition: background-color 0.3s;

  &:hover,
  &:focus {
    background-color: #0085cc;
  }

  &:focus-visible {
    outline: none;
  }
}

.button--getStarted {
  grid-row: 4;
  margin-top: 2em;
}

/* main page */

.mainPage--img {
  width: 100%;
  max-width: 300px;
  align-self: center;
  justify-self: center;
  grid-area: img;
}

.button--generate {
  font-size: 1.1rem;
  padding: 0.65em 1.65em;
  margin: 0.75em 0;
}

/* recipe section */
ul,
ol {
  list-style-position: inside;
}

.recipe {
  background-color: white;
  margin-top: 1em;
  border-radius: 8px;
  padding: 0 1em;
  max-width: 750px;
  grid-row: 2 / -2;
  grid-area: recipe;
  justify-self: center;
  position: relative;
}

.favorite-icon {
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 5%;
  font-size: 1.4rem;
  color: #e63946;
}

.recipe__img {
  max-width: 110px;
  display: block;
  margin: 1em auto;
  border-radius: 5px;
}

.recipe__name {
  font-size: 1.5rem;
  margin-bottom: 0.2em;
}

.recipe__category {
  font-size: 0.8rem;
  color: #207e2e;
}

.recipe__section-title,
.recipe__ingredients-list {
  margin-bottom: 0.65em;
}

.recipe__section-title {
  font-size: 1.15rem;
  margin-top: 0.5em;
}

.recipe__ingredients-item,
.recipe__instruction-item {
  font-size: 0.85rem;
}

.recipe__ingredients-item {
  margin-bottom: 0.45em;
}

.recipe__instruction-item {
  line-height: 1.5;
  margin-bottom: 0.85em;
}

.error-message {
  color: red;
  grid-column: 1/ -1;
  text-align: center;
  font-weight: bold;
  margin-top: 0.5em;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 8px solid #d1b3ff;
  border-top: 8px solid #5a00cc;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
  position: absolute;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

/* recipe category */

.container__category {
  display: flex;
  margin-top: 1.5em;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  grid-area: category;
}

.category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
  min-width: 120px;
  cursor: pointer;
  gap: 0.5em;
}

.category:hover,
.category:focus-visible,
.active {
  background-color: #005685;
  color: white;
  border-radius: 5px;
}

.category:focus-visible {
  outline: none;
}

.category--img {
  width: 50px;
}
input[type="radio"] {
  display: none;
}

/* media queries */

@media (min-width: 470px) {
  .main__introductionPage {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      ". ."
      "title img"
      "description img"
      "category category"
      "recipe recipe"
      "btn .";
  }

  .main__title {
    font-size: 1.95rem;
  }

  .mainPage__description {
    grid-row: 2 / 4;
    align-self: center;
    font-size: 1.25rem;
  }

  .button--getStarted {
    justify-self: start;
  }

  .button--generate {
    grid-column: 1 / -1;
    justify-self: center;
  }

  .recipe {
    grid-column: 1 / -1;
    margin-bottom: 0.75em;
  }

  .container__category {
    grid-column: 1 / -1;
  }

  .favorite-icon {
    font-size: 1.85rem;
  }
}

@media (min-width: 700px) {
  .nav,
  .main__introductionPage {
    max-width: 1300px;
  }

  .nav {
    width: 100%;
    justify-self: center;
  }

  .nav-favorite,
  .nav-home {
    font-size: 1.125rem;
  }

  .main__introductionPage {
    margin: 0 auto;
    gap: 0;
  }

  .main__title {
    align-self: end;
    font-size: 2.25rem;
    margin-bottom: 0.5em;
  }

  .main__description {
    font-size: 1.3rem;
  }

  .main__introduction-img {
    content: image-set("img/food-photo-bigScreen.png") / "A bowl of salad";
    max-width: 450px;
    width: 100%;
  }

  .mainPage__description {
    font-size: 1.6rem;
    margin-top: 0.75em;
  }

  .mainPage--img {
    max-width: 400px;
  }

  .recipe {
    padding: 0 3em;
  }

  .recipe__img {
    max-width: 130px;
  }

  .container__category {
    margin: 3em 0 1.75em;
  }

  .mainPage__description--centerText {
    text-align: center;
  }

  .recipe__category {
    font-size: 1rem;
  }

  .recipe__name {
    font-size: 1.85em;
  }

  .recipe__section-title {
    font-size: 1.4rem;
  }

  .recipe__ingredients-item {
    font-size: 1.1rem;
  }
  .recipe__instruction-item {
    font-size: 0.95rem;
  }

  .favorite-icon {
    font-size: 2.1rem;
  }
}

@media (min-width: 1100px) {
  .nav-favorite,
  .nav-home {
    font-size: 1.3rem;
  }

  .main__title {
    font-size: 2.8vw;
  }

  .main__description {
    font-size: 1.7vw;
  }

  .button--getStarted {
    font-size: 1.05rem;
    margin-top: 0;
  }

  .button--generate {
    font-size: 1.25rem;
  }
}
